
{% block title %} Acerca de nosotros {% endblock title %}

{% block about %}
<div class="container">                     
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h6 class="text-white mb-4">
                        <p> ¡Bienvenidos a nuestro mundo de sabores sostenibles! Nos apasiona ofrecerte mucho más que simplemente una deliciosa comida; nos esforzamos por llevar tu experiencia gastronómica a un nivel superior, mientras cuidamos nuestro planeta.
    
                            Imagina un lugar donde cada bocado que disfrutas no solo deleita tus papilas gustativas, sino que también respeta y protege nuestro entorno. Eso es exactamente lo que ofrecemos en nuestro Blog de recetas sustentables y sostenibles.
                            
                            Desde el origen de nuestros ingredientes hasta la manera en que preparamos nuestras recetas, cada paso de nuestro proceso se lleva a cabo con el medio ambiente en mente. Trabajamos en estrecha colaboración con agricultores locales comprometidos con prácticas agrícolas sostenibles, lo que nos permite ofrecerte ingredientes frescos y de la más alta calidad en cada plato.
                            
                            Nuestras recetas están diseñadas para deleitar tus sentidos y sorprenderte en cada bocado. Desde exquisitas ensaladas llenas de colores y sabores frescos hasta platos principales que te dejarán sin aliento, nuestras opciones gastronómicas te invitan a explorar nuevos sabores mientras cuidas de tu salud y del planeta.
                            
                            En nuestra empresa, creemos en un futuro donde la comida sustentable y deliciosa vayan de la mano. Únete a nosotros en este viaje hacia un mundo donde cada comida cuenta, tanto para ti como para el planeta. ¡Descubre el sabor de la sustentabilidad con nosotros hoy mismo!</p>
                    </h6>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock about %}