{% extends 'vivoverde/base.html' %}

{% load static %}

{% block title %} Crear Receta {% endblock title %}

{% block MostrarReceta %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <ul>
            {% for receta in recetas %}
                <p> {{receta.nombre}} // {{receta.ingredientes}} </p>
                <p> {{receta.preparacion}} </p>
            {% endfor %}
            </ul>
    </form>

{% endblock MostrarReceta %}
